<!DOCTYPE html>

<html>
    <head>
            <link rel ="stylesheet" href="../static/add_entry.css">
            <script src="../scripts/script.js"></script>
    </head>

    <body>
        <h2>Enter the info for the new entry:</h2>

        <form method="POST"> 
            Committee: <br>
            <input type="text" name="committee"> <br><br>
            Role: <br>
            <input type="text" name="role"> <br><br>
            Description: <br>
            <input type="text" name="description"> <br><br>
            Qualifications: <br>
            <input type="text" name="qualifications"> <br><br>
            Prompt: <br>
            <input type="text" name="prompt"> <br><br><br>

            <input type="submit">
        </form>
    </body>

</html>