<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel ="stylesheet" href="../static/index.css" />
    </head>
    <body>
        <div class="container full-width">
            <a class="btn btn-primary add-btn" href = "/add">Add Role </a>  
        </div>
        <div class="container">
            {% for info in info_list %}
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title role-name">{{info['role']}}</h5>
                    <p>{{info['committee']}} committee</p>
                    <div class="card-text">
                        <div>
                            Details
                        </div>
                        <ul>
                            {% for item in info['prompt'] %}
                                {{item}}
                            {% endfor %}
                        </ul>                    
                    </div>
                    <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>